* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}